body {margin-top: 0px; margin-left: 0px; font-size: 12px; font-family: DejaVuSans; line-height: 13px;}

.t0 {width: 1001px; margin-left: 47px;}
.t1 {width: 1058px;}

.p0 {text-align: left; margin-top: 0px; margin-bottom: 0px; white-space: nowrap;}

td {padding: 0px; margin: 0px; vertical-align: bottom;}

.td0 {width: 66px;}
.td1 { width: 15px;}
.td2 { width: 243px;}
.td3 { width: 477px;}
.td4 { width: 200px;}
.td5 { border-bottom: #000000 1px solid;width: 200px;}
.td6 { border-right: #000000 1px solid;width: 476px;}
.td7 { border-right: #000000 1px solid;width: 199px;}
.td8 { width: 81px;}
.td9 { border-right: #000000 1px solid;border-bottom: #000000 1px solid;width: 199px;}
.td10 { width: 258px;}
.td11 { width: 40px;}
.td13 { width: 111px;}
.td14 { width: 49px;}
.td15 { width: 125px;}
.td16 { width: 68px;}
.td17 { width: 123px;}
.td18 { width: 110px;}
.td19 { width: 54px;}
.td23 { width: 73px;}
.td25 { width: 101px;}
.td26 { width: 107px;}
.td27 { width: 175px;}

.tr0 {height: 15px;}
.tr1 {height: 24px;}
.tr2 {height: 43px;}
.tr3 {height: 7px;}
.tr5 {height: 36px;}
.tr6 {height: 27px;}
.tr7 {height: 7px;}
.tr8 {height: 3px;}
.tr9 {height: 23px;}
.tr10 {height: 13px;}
.tr11 {height: 14px;}
.tr12 {height: 20px;}
.tr14 {height: 18px;}