body {margin-top: 0px; margin-left: 0px; font-size: 12px; font-family: DejaVuSans; line-height: 13px;}

.t0 {width: 1001px; margin-left: 47px;}
.t1 {width: 1058px;}

.p0 {text-align: left; margin-top: 0px; margin-bottom: 0px; white-space: nowrap;}

td {padding: 0px; margin: 0px; vertical-align: bottom;}

.td0 {width: 66px;}
.td1 {width: 15px;}
.td2 {width: 243px;}
.td3 {width: 477px;}
.td4 {width: 200px;}
.td11 {width: 40px;}
.td13 {width: 107px;}
.td17 {width: 123px;}
.td18 {width: 110px;}
.td23 {width: 100px;}
.td25 {width: 175px;}
.td27 {width: 175px;}
.td28 {width: 150px;}
.td29 {width: 150px;}
.td30 {width: 175px;}
.td31 {width: 125px;}

.tr0 {height: 15px;}
.tr5 {height: 36px;}
.tr6 {height: 27px;}
.tr7 {height: 7px;}
.tr12 {height: 40px;}
.tr14 {height: 18px;}
